/* ?Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ?Generics */
body {
    font-family: 'Montserrat', sans-serif;
}

body h1{
    font-family: 'Nerko One', cursive;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

/* ?Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed red;
}

/* Button */
.btn {
    padding: 10px 15px;
    display: inline-block;
    border-radius: 25px;
}

/* !Intestazione */
#topbar {
    height: 80px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #FF9C2D;
}

/* !Main */
.recipe {
    background-color: #F8F5F5;
}

.recipe header {
    padding-top: 20px;
    justify-content: space-between;
}

.recipe-category {
    color: #B2B0B2;
    font-weight: 100;
}

.recipe-title h2 {
    font-size: 30px;
    color: #4F3C71;
}

.recipe-rating {
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
}

.fa-star {
    color: #FF992C;
}

.btn.rate {
    background-color: #FF992C;
    color: white;
}