/* ?Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ?Generics */
body {
    font-family: 'Montserrat', sans-serif;
}

body h1 {
    font-family: 'Nerko One', cursive;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ?Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed gray;
}

/* Button */
.btn {
    padding: 10px 15px;
    display: inline-block;
    border-radius: 25px;
}

/* !Intestazione */
#topbar {
    min-height: 80px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #FF9C2D;
    text-shadow: 1px 1px 1px black;
}

/* !Main */
/* Titolo Ricetta */
.recipe {
    background-color: #F8F5F7;
}

.recipe header {
    padding: 20px 0;
    justify-content: space-between;
}

.recipe-category {
    color: #B2B0B2;
    font-weight: 100;
}

.recipe-title h2 {
    font-size: 30px;
    color: #4F3C71;
}

.recipe-rating {
    font-size: 18px;
    margin-top: 14px;
    margin-right: 10px;
}

.fa-star {
    color: #FF992C;
}

.btn.rate {
    background-color: #FF992C;
    color: white;
    margin-left: 10px;
}

/* Ricetta */
.col {
    width: 100%;
}

iframe {
    width: 100%;
    display: block;
}

/* Note ricetta */
.col.video-notes {
    background-color: white;
    padding: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 8px lightgray;
}

.info {
    background-color: #F8F5F7;
    padding: 20px 20px;
    margin-bottom: 40px;
}

.info-kcal {
    justify-content: space-between;
}

.kcal {
    color: white;
    background-color: #7E6EA7;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
}

.plus-info {
    font-size: 20px;
    color: #FF992C;
}

.divider {
    border-bottom: 1px solid gray;
    margin: 20px 0
}

.vegetarian {
    font-size: 15px;
}

.recipe-notes li {
    margin-bottom: 15px;
}

.recipe-notes .fa-solid {
    color: #FF992C;
}

/* Social networks */
.social-networks ul {
    justify-content: space-around;
    margin: 40px 0;
}

.social-networks .btn {
    background-color: white;
}

.fa-facebook {
    color: #0866FF;
}

.fa-twitter {
    color: #1D9BF0;
}

.fa-instagram {
    color: #D02781;
}

.fa-pinterest {
    color: #B7081B;
}

.fa-youtube {
    color: #FF0000;
}

.social-networks .banner {
    display: none;
    margin-bottom: 40px;
}

.social-networks .shadow-text {
    color: black;
    display: none;
}

.social-networks li {
    box-shadow: 0px 2px 15px lightgray;
}

/* Presentazione */
.presentation {
    padding-bottom: 50px;
}

.presentation h3 {
    font-size: 30px;
}

.presentation .divider {
    width: 15%;
    border-bottom: 3px solid #FF992C;
}

.presentation img {
    height: 250px;
}

.presentation .image {
    justify-content: center;
    padding-bottom: 20px;
}

.presentation p {
    line-height: 30px;
    font-size: 20px;
}

/* !Footer */
footer {
    background-color: #7E6EA7;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.footer-link {
    flex-direction: column;
}

address {
    padding: 15px 0;
}

footer a {
    text-decoration: underline;
    color: white;
}

footer ul {
    gap: 20px;
    justify-content: center;
}